<div class="row" ng-controller="Tab3_cntrl">
	<div class="col-sm-12">
		<section class="widget">
			<div class="widget-body">
				<form class="form-horizontal ng-pristine ng-valid" role="form">
					<fieldset>
						<legend>
							<strong>Witnesses</strong>
						</legend>

						<div class="form-group">
							<label for="normal-field" class="col-sm-3 control-label">Witness
								Telco Employee</label>
							<div class="col-sm-8">
								<select id="mInvovled" class="form-control radius-top-bot"
									ng-model="bInfo.mInvovled">
									<option value="">-- Choose--</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="hint-field" class="col-sm-3 control-label">Witness
								Name</label>
							<div class="col-sm-8">
								<input id="industry" type="text" placeholder=""
									class="form-control radius-top-bot" ng-model="bInfo.partyName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="tooltip-enabled">Address</label>
							<div class="col-sm-8">
								<textarea rows="4" class="form-control" id="default-textarea"
									ng-model="bInfo.partyAddress"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="prepended-input">City</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyCity">
							</div>
							<label class="col-sm-2 control-label" for="prepended-input">State</label>
							<div class="col-sm-3">
								<input id="industry" type="text" placeholder=""
									class="form-control" ng-model="bInfo.partyState">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="prepended-input">Country</label>
							<div class="col-sm-3">
								<select id="damageDescription"
									class="form-control radius-top-bot"
									ng-model="bInfo.partyCountry">
									<option value="">-- Choose Country--</option>
									<option value="USA">USA</option>
									<option value="Canada">Canada</option>
								</select>
							</div>
							<label class="col-sm-2 control-label" for="prepended-input">Zip</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyZip">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="prepended-input">Home
								Phone</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyTelephone">
							</div>
							<label class="col-sm-2 control-label" for="prepended-input">Ext</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyExt">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="prepended-input">Work
								Phone</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyTelephone">
							</div>
							<label class="col-sm-2 control-label" for="prepended-input">Ext</label>
							<div class="col-sm-3">
								<input type="text" id="normal-field" class="form-control"
									ng-model="bInfo.partyExt">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="tooltip-enabled">Witness
								Remarks</label>
							<div class="col-sm-8">
								<textarea rows="4" class="form-control" id="default-textarea"
									ng-model="bInfo.partyAddress"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="tooltip-enabled">Witness
								a Minor</label>
							<div class="col-sm-8">
								<select id="mInvovled" class="form-control radius-top-bot"
									ng-model="bInfo.mInvovled">
									<option value="">-- Choose--</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-sm-offset-4 col-sm-7">
									<button type="button" class="btn btn-primary">Add
										Another Witness</button>
									<button type="button" class="btn btn-inverse">Remove
										this witness</button>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</div>
</div>




