<div class="container">
    <div class="row margin-bottom-20">
        <div class="col-sm-12">
            <div class="headline">
                <h2>{{'KEY_ACCOUNT_INFO' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 divContent">
            <div class="col-sm-1 col-xs-2 divIcon">
                <div class="rui-icon-user ruiIcon">
                </div>
            </div>
            <div class="col-sm-7 col-xs-8 margin-top-10">{{'KEY_PERSONAL_INFO' | translate}}</div>
            <a class="pull-right btn btn-red-rounded btn-default btn-circle-border rui-icon-edit margin-right-5 margin-top-5" href="account/personalInformation"></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row margin-bottom-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 divContent">
            <div class="col-sm-1 col-xs-2 divIcon">
                <div class="rui-icon-lock ruiIcon">
                </div>
            </div>
            <div class="col-sm-7 col-xs-8 margin-top-10">{{'KEY_CHANGE_PASSWORD' | translate}}</div>
            <a class="pull-right btn btn-red-rounded btn-default btn-circle-border rui-icon-edit margin-right-5 margin-top-5" href="account/changePassword"></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row margin-bottom-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 divContent">
            <div class="col-sm-1 col-xs-2 divIcon">
                <div class="glyphicon glyphicon-earphone ruiIcon">
                </div>
            </div>
            <div class="col-sm-7 col-xs-8 margin-top-10">{{'KEY_ALT_CONTACT_INFO' | translate}}</div>
            <a class="pull-right btn btn-red-rounded btn-default btn-circle-border rui-icon-edit margin-right-5 margin-top-5" href="account/alternateContactInformation"></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row margin-bottom-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 divContent">
            <div class="col-sm-1 col-xs-2 divIcon">
                <div class="glyphicon glyphicon-phone ruiIcon">
                </div>
            </div>
            <div class="col-sm-7 col-xs-8 margin-top-10">{{'KEY_2FACT_AUTH' | translate}}</div>
            <a class="pull-right btn btn-red-rounded btn-default btn-circle-border rui-icon-edit margin-right-5 margin-top-5" href="account/twofactorAuthentication"></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row margin-bottom-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 divContent">
            <div class="col-sm-1 col-xs-2 divIcon">
                <div class="glyphicon glyphicon-th-large ruiIcon">
                </div>
            </div>
            <div class="col-sm-7 col-xs-8 margin-top-10">{{'KEY_AUTH_APPS' | translate}}</div>
            <a class="pull-right btn btn-red-rounded btn-default btn-circle-border rui-icon-edit margin-right-5 margin-top-5" href="account/authorizedApplications"></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>