<div class="container">
    <div class="row margin-bottom-20">
        <div class="col-sm-12">
            <div class="headline">
                <h2>Account Activity</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div account-navigation></div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <h6> Devices that have been active on your account in the last 30 days, or are currently logged in. <a href="#" class="colorRed">Learn More</a></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title" class="accountActPanel">
                     Notice anything strange? <a href="account/changePassword" class="colorRed">Update your password</a> or <a href="#" class="colorRed">manage your app passwords</a>
                  </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-sm-12">
                    <div class="pull-right btn btn-red-rounded btn-default">
                        <a href="#" class="colorRed"> <i class="fa fa-sign-out"></i> Logout All Users</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">Mac</h6>
                                </td>
                                <td>
                                    <h6> Canada - <span class="colorGreen">Current Device</span></h6>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">iMac</h6>
                                </td>
                                <td>
                                    <h6> Canada - 14 min ago </h6>
                                </td>
                                <td>
                                    <a href="#" class="colorRed margin-left-10per"> <i class="fa fa-sign-out"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">Password Change</h6>
                                </td>
                                <td>
                                    <h6> Canada - 27 min ago </h6>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">2-Factor Update</h6>
                                </td>
                                <td>
                                    <h6> Canada - 4 hrs ago</h6>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">Password Recovery</h6>
                                </td>
                                <td>
                                    <h6> Canada - Yesterday 9:43pm</h6>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">Alternate Contact Request</h6>
                                </td>
                                <td>
                                    <h6> Canada - December 28, 2016</h6>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="margin-left-10per">iPhone</h6>
                                </td>
                                <td>
                                    <h6> Canada - December 22, 2016</h6>
                                </td>
                                <td>
                                    <a href="#" class="margin-left-10per colorRed"> <i class="fa fa-sign-out"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>