<div class="container">
    <div class="row margin-bottom-20">
        <div class="col-sm-12">
            <div class="headline"><h2>Account Information</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div account-navigation></div>
        </div>


            <div class="col-sm-9">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa"></i>{{'KEY_CHANGE_PASSWORD' | translate}}
                            </h3>
                        </div>
                        <div class="panel-body" class="panelBody">
                            <div class="row margin-bottom-5">
                                <div class="col-sm-12">
                                	<div class="margin-bottom-10">
                                		 <label for="existingPassword">Existing Password</label>
	                                     <input id="existingPassword" type="password" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                            </div>
                            <div class="row margin-bottom-5">
                                <div class="col-sm-12">
                                	<div class="margin-bottom-10">
                                		 <label for="newPassword">New Password</label>
	                                     <input id="newPassword" type="password" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                            </div>
                            <div class="row margin-bottom-5">
                                <div class="col-sm-12">
                                	<div class="margin-bottom-10">
                                		 <label for="confirmPassword">Confirm Password</label>
	                                     <input id="confirmPassword" type="password" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                            </div>
                            <div class="row margin-bottom-20">
                                <div class="col-md-5 col-xs-3"></div>
                                <div class="col-md-1 col-xs-3">
                                    <div class="input-group margin-bottom-20">
                                        <a class="btn btn-default btn-red-rounded" href="#"><i class="fa fa-add"></i>Save</a>
                                    </div>
                                </div>
                                <div class="col-md-1 col-xs-3">
                                    <div class="input-group margin-bottom-20">
                                        <a class="btn btn-default btn-red-rounded btn-red-withoutBorder" href="#"><i class="fa fa-add"></i>Cancel</a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                 </div>

     </div>
</div>                            