<div class="container content-sm">
   <div>
           <div class="row margin-bottom-10">
               <div class="col-sm-12">
                   <div class="col-md-6 col-md-offset-2 col-sm-12 padding-left-50">
                       <form name="forgetPassword" class="sky-form label-rounded" novalidate>
                           <fieldset>
                               <div class="reg-header">
                                   <h2 class="forgetPassHeader">Forget Password</h2>
                                   <hr>
                                   <h3>Kindly enter your User id</h3>
                               </div>
                               <div class="row">
                                   <div class="input-group margin-bottom-20 col-sm-12">
                                       <input type="email" name="forgetPwdEmail" placeholder=" User id" ng-model="forgetPwdEmail" required class="form-control">
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="input-group">
                                       <input type="submit" class="btn-u" ng-click="submitForgetPassword(forgetPwdEmail)"/>
                                       <a href="account/landing" class="margin-left-5"><input type="reset" class="btn-u" value="Cancel"/></a>
                                   </div>
                               </div>
                               <hr>
                               <h4 class="SuccessMsg">{{responseMsgfrgtPwd}}</h4>
                               <span ng-show="forgetPassword.$submitted || form.uEmail.$touched">
                                   <h4 ng-show="forgetPassword.forgetPwdEmail.$error.required" class="errorMsg">Tell us your User Id.</h4>
                                   <h4 ng-show="forgetPassword.forgetPwdEmail.$error.email" class="errorMsg">This is not a valid User Id.</h4>
                               </span>
                           </fieldset>
                       </form>
                   </div>
               </div>
           </div>
    </div>

</div>
