<div class="container">
	<div class="row">
	        <div class="col-sm-12">
	            <div class="headline"><h2>{{'KEY_MANAGEEMAIL' | translate}}</h2></div>
	            <a href="account/secondaryAccount" class="btn btn-red-rounded btn-default btn-circle-border rui-icon-plus pull-right btn-plus-large"></a>
	        	<div class="row">
       			 	<div class="col-sm-1 pull-left manageEmailProgress"><uib-progressbar value="(emailAccounts.length/9)*100"></uib-progressbar></div>
       			 	<div class="col-sm-10 manageEmailProgressText">({{emailAccounts.length}} {{'KEY_MANAGEEMAILPOPUP_USED' | translate}},{{9-emailAccounts.length}} {{'KEY_MANAGEEMAILPOPUP_AVAILABLE' | translate}})</div>
      			</div>
	        </div>
	</div>
	<div class="row margin-top-20">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3" ng-repeat="account in emailAccounts track by $index" ng-class='{selectedPanel:account==emailAccounts[0]}'>
					<small-panel></small-panel>
				</div>
				<div class="col-sm-3">
					<empty-panel></empty-panel>
				</div>
			</div>
		</div> 
	</div>
</div>