<div>
<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li class="list-group-item list-toggle active">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography"
           class="" aria-expanded="true">{{'KEY_ACCOUNT_INFO' | translate}}</a>
        <ul id="collapse-typography" class="collapse in" aria-expanded="true">
            <li><a href="account/personalInformation">{{'KEY_PERSONAL_INFO' | translate}}</a></li>
            <li><a href="account/changePassword">{{'KEY_CHANGE_PASSWORD' | translate}}</a></li>
            <li><a href="account/alternateContactInformation">{{'KEY_ALT_CONTACT_INFO' | translate}}</a></li>
            <li><a href="account/twofactorAuthentication">{{'KEY_2FACT_AUTH' | translate}}</a></li>
            <li><a href="account/authorizedApplications">{{'KEY_AUTH_APPS' | translate}}</a></li>
            <li><a href="account/accountActivity">Account Activity</a></li>
        </ul>
    </li>
</ul>
</div>