<div class="container">
    <div class="row margin-bottom-20">
        <div class="col-sm-12">
            <div class="headline"><h2>Account Information</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div account-navigation></div>
        </div>


            <div class="col-sm-9">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa"></i>{{'KEY_PERSONAL_INFO' | translate}}
                            </h3>
                        </div>
                        <div class="panel-body" class="panelBody">
                            <div class="row margin-bottom-5">
                                <div class="col-sm-4">
                                	<div class="margin-bottom-10">
                                		 <label for="firstName">First Name</label>
	                                     <input id="firstName" type="text" placeholder="Wendy" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-4">
                                	<div class=" margin-bottom-10">
                                		 <label for="middleInitial">Middle Initial (optional)</label>
	                                     <input id="middleInitial" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-4">
                                	<div class=" margin-bottom-10">
                                		 <label for="lastName">Last Name</label>
	                                     <input id="lastName" type="text" placeholder="Cortez" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                             </div>
                             <div class="row margin-bottom-5">
                               <div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="industry">Industry</label>
	                                     <input id="industry" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="specialization">Specialization</label>
	                                     <input id="specialization" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                            <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-12">
                                	<div class=" margin-bottom-10">
                                		 <label for="languagePreference">Language Preference</label>
	                                     <select id="languagePreference" class="form-control radius-top-bot">
	                                     	<option>English</option>
											<option>French</option>
										 </select>
	                                </div> 
                                </div>
                             </div>
                            <div class="row margin-bottom-5">
                            	 <div class="col-sm-12">
                                	<div class=" margin-bottom-10">
                                		 <label for="address">Address</label>
	                                     <input id="address" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                             </div>
                            <div class="row margin-bottom-5">
                            	<div class="col-sm-12">
                                	<div class=" margin-bottom-10">
                                		 <label for="city">City</label>
	                                     <input id="city" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="province">Province</label>
	                                     <select id="province" class="form-control radius-top-bot">
	                                     	<option>
	                                     		Select
	                                     	</option>	
	                                     </select>
	                                </div> 
                                </div>
                                <div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="postalCode">Postal Code</label>
	                                     <input id="postalCode" type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                             </div>
                             <div class="row margin-bottom-5">
                              <div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="country">Country</label>
	                                     <select id="country" class="form-control radius-top-bot">
	                                     	<option>
	                                     		Select
	                                     	</option>	
	                                     </select>
	                                </div> 
                                </div>
                                <div class="col-sm-6">
                                	<div class=" margin-bottom-10">
                                		 <label for="timeZone">Time Zone</label>
	                                     <select id="timeZone" class="form-control radius-top-bot">
	                                     	<option>
	                                     		Select
	                                     	</option>	
	                                     </select>
	                                </div> 
                                </div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                
                                <div class="col-sm-1"></div>
                             </div> 
                             <div class="row margin-bottom-5">
                                <div class="col-sm-12">
                                	<div class=" margin-bottom-10">
                                		 <input type="checkbox" name="">&nbsp;&nbsp;I agree the above provided information is accurate
	                                </div> 
                                </div>
                             </div>
                            <div class="row margin-bottom-20">
								<div class="col-md-4 col-xs-3"></div>
								<div class="col-md-2 col-xs-3">
									<div class="input-group margin-bottom-20">
										<a class="btn btn-default btn-red-rounded" href="#"><i class="fa fa-add"></i>Save</a>
									</div>
								</div>
								<div class="col-md-2 col-xs-3">
									<div class="input-group margin-bottom-20">
										<a class="btn btn-default btn-red-rounded btn-red-withoutBorder" href="#"><i class="fa fa-add"></i>Cancel</a>
									</div>
								</div>
								<div class="col-md-4 col-xs-3"></div>
							</div>
                         </div>
                       </div>
                    </div>

      </div>
</div>