<div class="container content-sm">
   <div>
           <div class="row margin-bottom-10">
               <div class="col-sm-12">
                   <div class="col-md-6 col-md-offset-2 col-sm-12 .padding-left-50" >
                       <form name="ResetPassword" class="sky-form label-rounded" novalidate>
                           <fieldset>
                               <div class="reg-header">
                                   <h2 class="forgetPassHeader">Reset Password</h2>
                                   <hr>
                               </div>
                               <div class="row">
                                   <div class="input-group margin-bottom-20 col-sm-12">
                                       <input type="password" name="oldPassword" placeholder=" Old Password" ng-model="password.oldPassword" required class="form-control">
                                   <span ng-show="ResetPassword.$submitted || ResetPassword.oldPassword.$touched">
                                   <h5 ng-show="ResetPassword.oldPassword.$error.required" class="errorMsg">This field is required</h5>
                                   </span>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="input-group margin-bottom-20 col-sm-12">
                                   <input type="password" name="newPassword" placeholder=" New Password" ng-model="password.newPassword" required class="form-control">
                                   <span ng-show="ResetPassword.$submitted || ResetPassword.newPassword.$touched">
                                   <h5 ng-show="ResetPassword.newPassword.$error.required" class="errorMsg">This field is required</h5>
                                   </span>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="input-group margin-bottom-20 col-sm-12">
                                   <input type="password" name="confirmNewPassword" placeholder=" Confirm New Password" ng-model="password.confirmNewPassword" required class="form-control">
                                   <span ng-show="ResetPassword.$submitted || ResetPassword.confirmNewPassword.$touched">
                                   <h5 ng-show="ResetPassword.confirmNewPassword.$error.required" class="errorMsg">This field is required</h5>
                                   </span>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="input-group">
                                       <input type="submit" class="btn-u" ng-click="submitResetPassword(password)"/>
                                       <a href="account/landing" class="margin-left-5"><input type="reset" class="btn-u" value="Cancel"/></a>
                                   </div>
                               </div>
                               <hr>
                               <h4 class="SuccessMsg">{{responseMessage}} <a ng-show="responseMessage" class="reloginSuccess" href="account/landing">Relogin.</a></h4>
                               <span ng-show="ResetPassword.$submitted">
                                   <h4 ng-show="password.newPassword!=password.confirmNewPassword" class="errorMsg">The new password and confirm new password does not match</h4>
                               </span>
                           </fieldset>
                       </form>
                   </div>
               </div>
           </div>
    </div>

</div>
