<div class="container">
    <div class="row margin-bottom-20">
        <div class="col-sm-12">
            <div class="headline"><h2>Account Information</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div account-navigation></div>
        </div>
            <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa"></i>Create Secondary Account
                            </h3>
                        </div>
                        <div class="panel-body">
                        	<div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="input-group margin-bottom-10">
										<h5>All fields are required</h5>
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        	<div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="input-group margin-bottom-10">
										<h2>Account Information</h2>
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="margin-bottom-10">
                                		 <label class="margin-bottom-5" for="userName">User Name</label><br/>
                                		 <input class="margin-bottom-5" type="radio" name="usernameSuggestion1" value="usernameSuggestion">wendy.cortez111@Gmail.com<br/>
	                                     <input class="margin-bottom-5" type="radio" name="usernameSuggestion1" value="usernameSuggestion">cortez.wendy234@Gmail.com<br/>
	                                     <input class="margin-bottom-5" type="radio" name="usernameSuggestion1" value="usernameSuggestion">wendy_cortez@Gmail.com<br/>
	                                     <input class="margin-bottom-5" type="radio" name="usernameSuggestion1" value="usernameSuggestion">Create my own
	                                     <input type="text" placeholder="" class="form-control radius-top-bot">
	                                  	 <h6>Must be 3-32 characters long. Allowed characters: a-z, 0-9,'-' (hyphen), '.' (period),
											'_' (underscore). Cannot start with a '-' (hyphen) '.' (period) or '_' (underscore) or
											end with '.'(period). Cannot start with a number. Cannot contain two consecutive
											'-' (hyphen), '.' (period), '_' (underscore) and their combinations.</h6>
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="margin-bottom-10">

	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="margin-bottom-10">
                                		 <label for="password">Password</label>
	                                     <input type="password" placeholder="" class="form-control radius-top-bot">
	                                     <h6>Must be 6-32 characters long. Must contain a number. No spaces. Case sensitive. Cannot be the same as your username.</h6>
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="margin-bottom-10">
                                		 <label for="retypePassword">Re-Type Password</label>
	                                     <input type="password" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="input-group margin-bottom-10">
										<h2>Personal Information</h2>
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                	<div class="margin-bottom-10">
                                		 <label for="firstName">First Name</label>
	                                     <input type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-5">
                                	<div class="margin-bottom-10">
                                		 <label for="lastName">Last Name</label>
	                                     <input type="text" placeholder="" class="form-control radius-top-bot">
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                            <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div class="input-group margin-bottom-10">
                                		 <label for="postalCode">Postal Code</label>
										 <input type="text" placeholder="" class="form-control radius-top-bot">	
	                                </div> 
                                </div>
                                <div class="col-sm-1"></div>
                             </div>
                            <div class="row">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                	<div>
                                		 <label for="address">Date Of Birth</label>
                                	</div>	 
                                <div class="col-sm-1"></div>
                             </div>
                             </div>                             
                             <div class="row margin-bottom-5">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                	<div class="margin-bottom-10">
										 <select class="form-control radius-top-bot" ng-model="month">
	                                     	<option value="">Select</option>
	                                     	<option ng-repeat="month in months" value="{{month.name}}" >{{month.name}}                                  	
	                                     	</option>	
	                                     </select>
	                                 </div>
	                             </div>   
	                             <div class="col-sm-3">
                                	<div class="margin-bottom-10">
										 <select class="form-control radius-top-bot" ng-model="date">
	                                     	<option value="">Select</option>	
	                                     	<option ng-repeat="date in dates" value="{{date.date}}">{{date.date}}</option>
	                                     </select>
	                                 </div>
	                             </div>
	                             <div class="col-sm-3">
                                	<div class="margin-bottom-10">
										 <select class="form-control radius-top-bot" ng-model="year">
	                                     	<option value="">Select</option>
	                                     	<option ng-repeat="year in years" value="{{year.name}}">{{year.name}}</option>	
	                                     </select>
	                                 </div>
	                             </div>     
	                                     
                                <div class="col-sm-1"></div>
                             </div>
                             <div class="row margin-bottom-20">
	                               		<div class="col-md-1"></div>
	                               		<div class="col-md-5">
	                                   		<div class="input-group margin-bottom-20" class="floatRight">
	                                       		<a class="btn btn-default btn-red-rounded" href="#"><i class="fa fa-add"></i>Save</a>
	                                   		</div>
	                                   	</div>
	                                   	<div class="col-md-5">	 
	                                   		<div class="input-group margin-bottom-20" class="floatLeft">
	                                       		<a class="btn btn-default btn-red-rounded" href="#"><i class="fa fa-add"></i>Cancel</a>
	                                   		</div>
	                                   	</div>
	                                   	<div class="col-md-1"></div>	                                  
	                               </div>                                                                                                                                                                                                                    
                         </div>
                       </div>
                    </div>
              </div>
              </div>
      </div>
</div>