<div class="footer-v1">
    <div class="footer">
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <ul id="footer-col1" class="col-sm-3">
                        <li>
                            <a href="http://www.rogers.com/web/ir/">{{'KEY_FOOTERMENU1' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://about.rogers.com/our-impact-responsibility/">{{'KEY_FOOTERMENU2' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://about.rogers.com/our-impact-responsibility/community-environmental-impact/">{{'KEY_FOOTERMENU3' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://about.rogers.com/">{{'KEY_FOOTERMENU4' | translate}}</a>
                        </li>
                    </ul>
                    <ul id="footer-col2" class="col-sm-3">
                        <li>
                            <a href="https://www.rogers.com/web/content/Privacy-CRTC">{{'KEY_FOOTERMENU5' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://jobs.rogers.com/?locale=en_US">{{'KEY_FOOTERMENU6' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://communityforums.rogers.com/t5/community/categorypage/category-id/EnglishCommunity?profile.language=en">{{'KEY_FOOTERMENU7' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://www.rogers.com/web/content/accessibility-services-wireless">{{'KEY_FOOTERMENU8' | translate}}</a>
                        </li>
                    </ul>
                    <ul id="footer-col3" class="col-sm-3">
                        <li>
                            <a href="http://www.rogers.com/web/content/support-terms">{{'KEY_FOOTERMENU9' | translate}}</a>
                        </li>
                        <li>
                            <a href="http://www.rogers.com/web/SITE_MAP.pg?customer_type=Residential">{{'KEY_FOOTERMENU10' | translate}}</a>
                        </li>
                    </ul>
                    <ul id="footer-col4" class="col-sm-3">
                        <li><a href="http://www.rogers.com/consumer/support/contactus" title="{{'KEY_FOOTERMENU13' | translate}}"><i class="rui-icon-call"></i></a></li>
                        <li><a href="http://www.rogers.com/web/content/store-locator" title="{{'KEY_FOOTERMENU14' | translate}}"><i class="rui-icon-locator"></i></a></li>
                    </ul>

                    <div class="social-media">
                        <span>{{'KEY_FOOTERMENU11' | translate}}</span>
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="https://twitter.com/Rogers" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Rogers/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Rogers/posts" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://redboard.rogers.com/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Red Board">
                                    <i class="fa fa-comments"></i>
                                </a>
                            </li>
                        </ul>
                        <a title="Provide feedback on this page" href="Javascript:void(0)" onclick="javascript:FSR.popFeedback()" class="btn">{{'KEY_FOOTERMENU12' | translate}}</a>
                    </div>
                </div>
            </div>
        </footer>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 1995 - 2017 Rogers Communications
                        <!-- <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> -->
                    </p>
                </div>

                <!-- Social Links -->
                <!--<div class="col-md-6">
                    <ul class="footer-socials list-inline">

                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a href="http://redboard.rogers.com/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Red Board">
                                <i class="fa fa-comments"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                --><!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>